<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= t('mailer.citizen.registered.subject', full_name: @citizen.full_name) %></h1>
<p>Passando para dar as boas vindas.</p>
</body>
</html>
